 <div class="user-details">
  <h1> What I Know </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Distributed Data</h2>
      <!---<i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>---!>
      <p>Experience creating and managing Distributed Database Systems.</p>
    </div>
    <div class="tech">
      <h2>Python & Go</h2>
      <!---<i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>---!>
      <p>Experience scripting, implementing third-party APIs, building native APIs, Data Engineering, Machine Learning (Keras & Tensorflow), & more.</p>
    </div>
</div>
