<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> go-tda </h3>
    <ul>
      <li> Golang API Integration </li>
      <li> Data Manipulation </li>
      <li> Custom Struct Manipulation </li>
      <li> Go Module Publishing & More... </li>
    </ul>
    <p>go-tda is a TD-Ameritrade API Hook created by me. It returns valuable information on specific Securities, Price History + Real Time Quotes, Option Chains for a variety of strategies, Account History & more. It also implements the API to place, remove and modify trades, implementing both Data & Trading capabilities in the same API. The end goal is for it to be used in further Algoritrhmic Trading models.</p>
    <a class="project-link" href="pkg.go.dev/github.com/samjtro/go-tda">pkg.go.dev</a>
    <a class="project-link" href="github.com/samjtro/go-tda">github.com</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> tri-map </h3>
    <ul>
      <li> Data Visualization </li>
    </ul>
    <p>tri-map takes EPA TRI (Toxic Release Inventory) Data, and maps it out in an easy to view way. This project's primary goal is to raise awareness for poor air quality in Southern California; specifically, in South Los Angeles.</p>
    <a class="project-link" href="github.com/samjtro/tri-map">github.com</a>
  </div>
</div>
